body{
    width: 550px;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    
    
}
header{
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('Movie\ Watchlist.png');
    background-position: center 25%; /* or right, left, % values, px, etc. */
    background-repeat: no-repeat;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}

#title{
    font-size: 42px;
    font-weight: 800;
}
#watchlist-btn{
    background: none;
    border: none;
    color: #fff;
    font-weight: 800;
    font-size: 11px;
}

#search-bar{
    width: 460px;
    height: 38px;
    background-color:#fff;
    border:solid 1px #D1D5DB;
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);}

#search-icon{
    margin: 0 10px;
    color: #6B7280;
}
#search-input{
    border: none;
    font-size: 16px;
    width: 270px;
    color: #6B7280;
    font-weight: 500;
}
#search-n-icon{ 
    display: flex;
}

#search-btn{
    font-size: 16px;
    padding: 5px;
    width: 100px;
    border: none;
    background:none;
    cursor: pointer;
    color: #374151;
    font-weight: 500;
    
}

#btn-div{
    background-color: #F9FAFB ;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #D1D5DB;
}


#placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:220px ;
    color: #DFDDDD;
}

#placegholder-icon{
    font-size: 76px;
}

#placeholder-text{
    font-size: 22px;
    font-weight: 700;
}

#feed{
    margin-top: 70px;
}

#movie{
    border: 1px solid #374151 ;
    height: 150px;
    width: 462px;
    margin: auto;
    display: flex;
}
#movie-img{
    height: 150px;
    width: auto;
}
#movie-details{
    margin-left: 20px;
}
#movie-title-div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#movie-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
#rating-icon{
    font-size: 12px;
    color: #FEC654;
    margin-left: 10px;
}
#movie-rating{
    margin-left: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #111827;
}

#movie-description{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
#movie-duration{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #111827;
}
#description-details{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #111827;
    margin-left: 15px;
}
#add-watchlist{
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    background: none;
    margin-left: 25px;
    cursor: pointer;
}
#movie-plot{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#movie-plot-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}
.div-separator::after {
    content: "";
    display: block;
    height: 1.5px;
    background: #e5e7eb;
    margin: 20px 43px; 
  }